@import 'meyer-reset.css';

html {
    height: 100vh;
    background-color: rgb(29, 29, 29);
}

.image {
    display: flex;
    width: 40%;
    height: 100%;
}
  
label {
    display: flex;
}

form {
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 5px 20px #888, 0px -5px 20px #888;
    border-style: solid;
    border-color: black;
    border-width: fill;
    padding: 20px;
    height: 100%;
    width: 100%;
    font-size: 1.7rem;
    overflow:hidden; 
}

tr {
    margin: 100px;
}

input {
    margin-bottom: 20px;
    margin-right: 100px;
    width: 15rem;
    height: 20px;
    font-style: inherit;
}

main {
    background-color: rgb(243, 243, 243);

    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    border-style: solid;
    border-color: black;
    border-width: 1px;
}
  
body {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;

    height: 100%;
    width: 80%;

}

.top {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
}

.form-wrapper {
    width: 100%;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35%;
}

.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;

}
